@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>Лични данни</h4>

<div class="row">
    <div class="col-md-6">
        
       
        <p> Вашият акаунт съдържа лична нформация, която ни предоставяте. Чрез тази страница вие може да свалите информацията или да я изтриете.</p>
        <p>
            <strong> Изтриването на информацията ще заличи вашият акаунт, окончателно, и той няма да може да се възстанови.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Свали</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-primary">Изтрий</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}