<footer class="pt-4">
    <div class="container-fluid text-md-left">
        <div class="row text-white">
      
            <div class="col-md-3 mx-auto">
                <h5 class="text-uppercase  text-dark">Общи</h5>
                <ul class="text-left">
                    <li>
                        <a asp-area="" asp-controller="Info" asp-action="ForUs">За Нас</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 mx-auto" >
                <h5 class="text-uppercase text-dark">Контакти</h5>
                <ul class="">
         
                    <li>
                        <a asp-area="" asp-controller="Info" asp-action="Contact">Контакти</a>
                    </li>
                
                </ul>
            </div>
        </div>
    </div>
    <hr class="my-1" style="background:white" />
    <div class="footer-copyright text-center py-2" style="background:white">&copy; 2019 - BookStore_Inspiration. Всички права запазени.</div>
</footer>