
@{
    ViewData["Title"] = "Deliver";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Доставка</h1>
<p>
    Поръчаните стоки ще бъдат доставени на посочения от Купувача адрес за доставка; до офис на куриерска фирма Спиди или Еконт.
    Купувачът има възможност да проследи своята пратка чрез номер на товарителница, който ще бъде предоставен в потвърждението за изпратена поръчка.
</p>

<b>
    Куриерска фирма Спиди
</b>
<p>
    При създадени поръчки с предварително заплащане и с доставка на територията на България стойността на доставката е 2.50 лв., независимо от населеното място, стойността на поръчката и общото тегло на продуктите в нея. При създадени поръчки с избран метод на плащане чрез наложен платеж стойността на доставката е 2.50 лв. + такса 0.42 лв. наложен платеж при дължима сума по наложен платеж до 70 лв., независимо от общото тегло на продуктите в нея и населеното място на територията на България. Съгласно тарифа на куриерска фирма Спиди при обща сума наложен платеж над 70 лв. таксата наложен платеж е 0.6% върху стойността на наложения платеж.

</p>


<b>
    Куриерска фирма Еконт
</b>
<p>
    Съгласно действащата тарифа за територията на България на куриерска фирма Еконт на база тегло на пратката, дължима сума наложен платеж и вид услуга: до офис на Еконт или адрес на клиента.
</p>



<b>
    Срок на доставка:
</b>

<p>
    До 2 работни дни след датата на генериране на поръчката при складова наличност.
    За населени места, които се обслужват по график от куриера, срокът е според съответния график.
    За допълнителна информация, моля свържете се с „Център за обслужване на клиенти”
</p>

