
@{
    ViewData["Title"] = "PaymentMethods";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Начин на плащане</h1>

<h2><b>1. Наложен платеж</b></h2>
<p>
    Плащането се извършва в момента на получаване директно на куриера, който доставя пратката.
</p>


<h2>
    <b>2. Borica - система за електронни разплащания с дебитна или кредитна карта</b>
</h2>
<p>
    Системата автоматично ще ви прехвърли към модула на Борика, за да попълните номера на картата си. Бързо и лесно!

    В случай, че това не се осъществи, регистрираните потребители имат възможност да направят повторен опит за плащане от бутона "Плати", който се намира в съответната поръчка в техния профил.
</p>

<p><strong>Наложен платеж - стоките се заплащат в брой на куриера, извършващ доставката.</strong></p>

<p><strong>ePay.bg - може да се регистрирате от <a href="https://www.epay.bg">тук</a></strong></p>

<p><strong>EasyPay - може да видите офисите в цялата страна от <a href="https://www.easypay.bg">тук</a></strong></p>

<p><strong>Visa, MasterCard и др.</strong></p>






