

@{
    ViewData["Title"] = "Бележки от продажбите";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Отчетни бележки за покупките на @User.Identity.Name</h1>




@foreach (var r in Model)
{
    <h2>@r</h2>
   
}



