@model BookStore.Services.SearchResultViewModels

@{
    ViewData["Title"] = "Резултат от търсенето";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Резултат от търсенето</h1>




@foreach (var r in Model.Result)
{
    <h2>@r.Title</h2>
   
}



