
@{
    ViewData["Title"] = "SearchBox";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Търсене в сайта</h1>

<p>
    Ако се интересувате от точно определено заглавие, автор, ISBN или търсите книга от определено издателство, на Ваше разположение е търсещата система. Тя се намира в централната част на страницата. В свободното поле, вляво от надписа „ТЪРСИ”, въведете своя критерий за търсене. Натиснете бутона "ТЪРСИ" или натиснете ENTER от клавиатурата. Като резултат ще получите сортиран списък по азбучен ред на заглавия, автори или издателства.
</p>

