

@{
    ViewData["Title"] = "SearchBox";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Търсене в сайта</h1>

@model BookStore_Inspiration.ViewModels.Product.SearchBox.SearchProductViewModel


<div class="container">
    <form asp-controller="Info" asp-action="SearchBox" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Input" class="control-label">Заглавие, автор, издател, ISBN</label>
                <input asp-for="Input" class="form-control" />
                <span asp-validation-for="Input" class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <button type="submit" value="" class="btn btn-primary">Търси</button>
            </div>
        </div>
    </form>
</div>



<p>
    Ако се интересувате от точно определено заглавие, автор, ISBN или търсите книга от определено издателство, на Ваше разположение е търсещата система. Тя се намира в централната част на страницата. В свободното поле, вляво от надписа „ТЪРСИ”, въведете своя критерий за търсене. Натиснете бутона "ТЪРСИ" или натиснете ENTER от клавиатурата. Като резултат ще получите сортиран списък по азбучен ред на заглавия, автори или издателства.
</p>

