@model BookStore_Inspiration.ViewModels.Genre.CreateGenreViewModel
@{
    ViewData["Title"] = "Добави нов Жанр";
}

<h3 class="mobile-fondsize-20 text-muted text-center">@ViewData["Title"]</h3>
<hr class="w-50" />
<div class="container">
    <form asp-controller="Genre" asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
      
        <div class="form-group text-center">
            <button type="submit" value="" class="btn btn-primary">Добави Жанр</button>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}