@using Microsoft.AspNetCore.Rewrite.Internal.UrlActions
@{
    ViewData["Title"] = "Error";
}



<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Заявката ви не може да се изпълни, поради не достатъчна наличност. За повече информация се свържете с администрацията на фирмата.</h2>



